In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader.data as wb

In [2]:
Mr_alpha = ['^GSPC','SPY','MKC','LLY','CHD','MRK','SBUX','BLL','SCG','AZO','HRL','NRG','PFE','ORLY','XLNX','AES','RHT','HCA','ABT','UAL','AAP','AMD','^IRX']

alpha_portfolio = pd.DataFrame()

for alpha in (Mr_alpha):
    alpha_portfolio[alpha] = wb.DataReader(alpha,data_source='yahoo',start='2018-6-26',end='2018-12-26')['Adj Close']

In [3]:
alpha_portfolio.head()

,^GSPC,SPY,MKC,LLY,CHD,MRK,SBUX,BLL,SCG,AZO,...,ORLY,XLNX,AES,RHT,HCA,ABT,UAL,AAP,AMD,^IRX
Date,,,,,,,,,,,,,,,,,,,,,
2018-06-26,2723.060059,268.806335,105.234474,84.218239,51.317120,59.888695,49.764496,35.582649,38.122845,675.349976,...,281.040009,65.382484,12.967751,138.460007,104.805771,60.289986,71.019997,136.968857,15.50,1.893
2018-06-27,2699.629883,266.579468,104.631943,83.782845,51.902863,59.060196,49.231091,35.104763,36.458004,669.219971,...,272.839996,63.905968,12.997200,132.740005,103.651649,59.972725,69.570000,134.280853,14.97,1.880
2018-06-28,2716.310059,268.103638,113.422882,84.594254,52.786442,59.474445,47.946976,35.094807,38.152569,678.440002,...,276.260010,64.540169,13.262249,134.690002,102.567177,60.746056,69.440002,135.010300,15.31,1.880
2018-06-29,2718.370117,268.489624,114.667442,84.435936,52.776516,59.868969,48.253185,35.393486,38.172386,670.929993,...,273.570007,64.668999,13.164083,134.369995,102.079666,60.468449,69.730003,135.599854,14.99,1.880
2018-07-02,2726.709961,269.063660,114.262466,84.960381,52.558102,59.632256,48.460621,35.602562,38.439953,667.809998,...,274.519989,65.045555,12.899034,136.320007,102.666679,60.478359,70.919998,134.600586,15.16,1.895

In [4]:
export_excel = alpha_portfolio.to_excel (r'D:\python learning\F701 project\export_dataframe.xlsx', header=True)